<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.soccercoach.review-dashboard</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>REVIEW_SUPERVISOR_SH</string>
  </array>
  <key>WorkingDirectory</key>
  <string>REVIEW_ROOT</string>
  <key>RunAtLoad</key>
  <false/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>REVIEW_LOGDIR/supervisor_stdout.log</string>
  <key>StandardErrorPath</key>
  <string>REVIEW_LOGDIR/supervisor_stderr.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PYTHONPATH</key>
    <string>.</string>
    <key>MPLCONFIGDIR</key>
    <string>/tmp/mpl-soccer</string>
    <key>REVIEW_PORT</key>
    <string>8501</string>
    <key>REVIEW_PYTHON</key>
    <string>REVIEW_PYTHON_BIN</string>
  </dict>
</dict>
</plist>
